body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/beanstalk-dark.png);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
    width: 150px;
    text-align: center;
}

p{
   color: #777777; 
   font-family: Arial, Helvetica, sans-serif;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    border-top: 8px solid #666666;
    background-color: hotpink;   
    text-align: center;
    color:aqua;
    width: 100%;
    height: 30px;  
    position: fixed;
    left: 0;
    bottom: 0;  
}

h2{
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-bottom: solid 1px aqua  
}

.button{
    background: aqua;
    color: hotpink;
}

.app-hangman{
   
    color: aqua;
}
.app-rpg{
    color: aqua;
}
.app-trivia{
    color: aqua;
 
}
.app-rutgasswithwidgets{
    color: aqua;
}

.app-rockpaperscissor{
    color: aqua;
}